<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/static/css/lab5.css">
    <script src = "/static/js/lab5.js"></script>
</head>
<body>
    <div id="hint">Time left for the current word: </div>
    <div id="hintc"></div>
    <div class="wordle">
        <h1>The Wordle</h1>
        <input type="text" id="guess" maxlength="5"><br>
        <button onclick="wordle()">Check</button>
        <p id="answer"></p>
    </div>
</body>
</html>